body{
  background-color: #ebfffb;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-top-color: #df0e62;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h1{
  color: #66BFBF;
}

h2{
  color: #a06ee1;
}

h3{
  color: #99235c;
}
